[submodule "tools/cocos2d-console"]
	path = tools/cocos2d-console
	url = git://github.com/cocos2d/cocos2d-console.git
	branch = develop
[submodule "plugin"]
	path = plugin
	url = https://github.com/cocos2d-x/plugin-x.git
	branch = develop
[submodule "tools/bindings-generator"]
	path = tools/bindings-generator
	url = git://github.com/cocos2d/bindings-generator.git
	branch = develop
[submodule "tests/cpp-tests/Resources/ccs-res"]
	path = tests/cpp-tests/Resources/ccs-res
	url = git:/p/github.com/dumganhar/ccs-res.git
	branch = v3
